# Секреты
.env
api_keys.json
.vscode/
*-response.txt
test-req.json

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Java
target/
*.class
*.jar
.idea/
*.iml

# Node / Next.js
node_modules/
.next/
out/
build/
.DS_Store